@import url(./__content/about-author__content.css);
@import url(./__avatar/about-author__avatar.css);
@import url(./__title/about-author__title.css);
@import url(./__text/about-author__text.css);

.about-author {
  display: flex;
  flex-direction: row;
  width: calc(100% - 208px);
  margin: auto;
/*  height: 624px;*/
}

@media (max-width: 1024px) {
  .about-author {
    width: calc(100% - 144px);
/*    height: 489px;*/
  }
}

@media (max-width: 768px) {
  .about-author {
    width: calc(100% - 80px);
/*    height: 354px;*/
  }
}

@media (max-width: 680px) {
  .about-author {
    width: calc(100% - 32px);
    flex-direction: column;
/*    min-height: 500px;*/
    justify-content: center;
    align-items: center;
  }
}