@import url(./__title/results__title.css);
@import url(./__list/results__list.css);
@import url(./__more-button/results__more-button.css);

.results {
  width: 100%;
  margin:auto;
  background-color: #F5F6F7;
}