.popup.popup_is-opened {
  display: flex;
}

@media (max-width: 425px) {
  .popup.popup_is-opened {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
  }
}