.about-author__content {
  width: 600px;
  margin-top: 131px;
}

@media (max-width: 1024px) {
  .about-author__content {
    width: 512px;
    margin-top: 86px;
  }
}

@media (max-width: 728px) {
  .about-author__content {
    width: 424px;
    margin-top: 40px;
    margin-bottom: 72px
  }
}

@media (max-width: 680px) {
  .about-author__content {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 80px
  }
}