.search__title {
  font-family: 'Roboto Slab', 'Verdana';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 0px 0px 32px;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .search__title {
     font-size: 48px;
     line-height: 52px;
     margin: 0px 0px 24px;
  }
}

@media (max-width: 768px) {
  .search__title {
     font-size: 36px;
     line-height: 40px;
     margin: 38px 0px 18px;
  }
}

@media (max-width: 680px) {
  .search__title {
     font-size: 36px;
     line-height: 40px;
     margin: 0px 0px 16px;
     max-width: 285px;
  }
}