.header__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
}

/*@media (max-width: 425px) {
    .header__title {
      font-size: 16px;
      line-height: 24px;
    }
}*/