.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 680px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 320px) {
  .header__nav {
    display: none;
  }
}