.search__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0px 0px 64px;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .search__subtitle {;
     margin: 0px 0px 56px;
  }
}

@media (max-width: 768px) {
  .search__subtitle {;
     margin: 0px 0px 48px;
  }
}