.popup__input {
  border: none;
  border-bottom: 1px solid #B6BCBF;
/*  opacity: .2;*/
  margin-bottom: 30px;
}

.popup__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0px;
  color: #B6BCBF;
};

