@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__span-name/popup__span-name.css);
@import url(./__input/popup__input.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__span-link/popup__span-link.css);
@import url(./__link/popup__link.css);
@import url(./__sign-in/popup__sign-in.css);
@import url(./__error-message/popup__error-message.css);
@import url(./__content/_successful-signup/popup__content_successful-signup.css);
@import url(./__title/_successful-signup/popup__title_successful-signup.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  align-items: center;
  justify-content: center;
  display: none;
}

@media (max-width: 425px) {
  .popup {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;;
  align-items: flex-start;
  justify-content: center;
  display: none;
  border-radius: 16px;
  }
}
